.navbar {
	background-color: bisque;
}

.nav-item {
	margin-left: 20%;
	margin-right: 20%;
	font-size: 25px;
}

#content{
   display: block;
}

#about{
    display: none;
 }


 body {
  font-family: Roboto;
  background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); 
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

button{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	animation-name: slidein;
	animation-duration: 1s;
	font-size: 24px;
	text-indent: 2%;
}

li span{
	float: right;
	margin-right: 2%;
	cursor: pointer;
}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

#content {
	width: 80%;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

#about{
	width: 80%;
	margin: 100px auto;
 }

 @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 200%; 
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }